.table__container{
  display: flex;
  flex-direction:column;
  font-size: 5px;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  flex: 1;

table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  border-style: hidden;
  box-shadow: 1px 0px 20px rgba(0, 0, 0, .2);
  flex: 1;
  margin-top: 1.5rem;
  max-height: 40vh;
  border-radius:6px;
  // border: 1px solid rgba(0, 0, 0, .2);
  
  td {
    padding: 8px;
    text-align: center;
  }
  
  th{
    padding: 8px;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #87CEEB;
    color: white;
  }
  
  tr{
    &:nth-child(even){
      background-color: #f2f2f2;
    }
    
    
    
    &:first-child{
      
      th{
        
        &:first-child{
          border-top-left-radius: 5px;
         }
      
        &:last-child{
           border-top-right-radius: 5px;
         }
    }
  }
  
  &:hover {background-color: #ddd;}
}
  
}


.btn__container{
  display: flex;
  align-items: center;
  
  .btn__jump{
    background: none;
    border: none;
    padding: .2rem .4rem;
    margin: .7rem;
    font-size: .4rem;
  }
  
  button{
    background: none;
    border: none;
    padding: .2rem .4rem;
    margin: .7rem;
  }
  button:disabled{
    background-color:rgb(214, 206, 206);
    color:   rgb(146, 140, 140);
  }
  .previous {
    background-color: #241236;
    color:rgb(214, 206, 206); 
  }
  .next {
    background-color: #241236;
    color:rgb(214, 206, 206); 
  }
  
  .round {
    border-radius: 2px;
  }
}

}