
.tabs{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 2rem;
  border: 1px solid #eae7e7;
  border-radius: 2px;
  
  
  
  .tabs__list{
  list-style: none;
  padding: 0;
  margin:0;
  width:100%;
  display: flex;
  background-color: #c9c5c5;
  
  
  
  li{
    padding: 0.1rem .1rem;
    // margin: 0 .1rem;
    width: 25%;
    font-size: .5rem;
    cursor: pointer;
    
    &:not(:first-child){
      border-left: 1px solid #878383;
    }
  }
}
.tabs__content{
  padding: 1rem 1rem;
  
}
}

.current{
  background-color: #ffe;
  border-top:2px solid #87CEEB;
  // color:rgba(198,140,225,0.5rem);
  // font-weight: bold;
  // border: 1px solid rgba(198,140,225,0.2rem);
  // border-bottom: 0;
  // border-top-right-radius: 5px;
  // border-top-left-radius: 5px ;
  // position: relative;
  // top:2px;
  
}
