.select_container{
  background: #eae7e7;
  // padding: 1rem 1rem;
  display: flex;
  width: 12rem;
  border-radius: 5px;
  select{
    border: 0;
    background: transparent;
    width: 100%;   
     
    font-size: 1rem;
    &:focus-visible{
      outline: none; 
    }
    option:active{
      background: #87CEEB;
    }
  }
}